body {font: 16px/24px 'Vollkorn', serif; color: #333; background: #efefef; text-align: justify; margin: 0 auto; padding: 12px; box-sizing: border-box;}
body, html {height: 100%;}

.wrapper {box-sizing: border-box; background: #fff; box-shadow: 0 0 5px #888; box-shadow: 0 0 5px #888; height: 100%; overflow: auto; }


a {color: #333; text-decoration: none;}
a:hover {border-bottom: 1px solid #F6CB2D; background-color: #F9DF74; color: #222}

.name {font: 24px/28px 'Unica One', sans-serif; text-transform: uppercase; text-align: center; color: #C31; margin: 20px 20px 30px;}

.container {margin: 0 auto; width: 300px; padding: 80px 12px; overflow: auto;}

.meta {text-align: center; text-transform: uppercase; font-family: Courier New, Quicksand, "Helvetica Neue", "Arial", sans-serif; font-size: 11px; letter-spacing: .15em;}
.meta a {border-bottom: none;}
.meta a:hover {border-bottom: 1px solid #F6CB2D; background-color: #F9DF74; color: #222;}
#contact {display: none; text-transform: none;}

.inline-list {list-style: none; margin: 0; padding: 0;}
.inline-list li {display: inline-block;}

footer .inline-list li {padding: 0 20px;}
footer {margin: 0 auto; position: absolute; bottom: 0px; padding: 30px 0; width: 300px;}

/*font awesome*/
.fa-vimeo-square {padding-right: 8px; color:#888}
.fa-envelope-o {padding-right: 5px; color:#888}
.fa-copyright {padding-right: 5px; color:#888}